.no-line
{
    display: inline;
}

.navbar-nav > hr,
.navbar-toggleable-md > hr,
.sideNav > hr
{
    border-color: white;
    background-color: white;
    color: white;
}

.navmenu
{
    background-color: #1c1c1c;
}

.navmenumobile
{
    background-color: white;
    width: 100% ;
    height: 10% ;
    position: fixed;
    top: 0;
    z-index: 10;
}

.no-padding
{
    padding: 0;
}

.no-margin
{
    margin: 0;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    min-height: 100vh ;
}

/* Admin Page Side Navbar */
.sideNav{
    list-style-type: none;
}

.sideNav > a{
    color: white;
    text-decoration: none; /* no underline */
}

.sideNav-item{
    padding: 1em 0 1em 0;
    text-align: center ;
    background-color: #1c1c1c;
    color: white;
    border-left: 0.4em solid #1c1c1c;
}

.sideNav-item.active{
    padding: 1em 0 1em 0;
    text-align: center ;
    background-color: #333333;
    color: #cca300;
    border-left: 0.4em solid #cca300;
}

.nav-item.active
{
    color: black ;
}

/* Mobile Navbar */

.bg-inverse{
    background-color: #1c1c1c !important ;
    color: white !important;
}

.navbar.navbar-item
{
    background-color: #333333 !important;
}


/* Admin Menus */

.headerBar
{
    position: relative;
    top: 0;
    color: white ;
    background-color: #333333;
    text-align: center ;
    padding-top: 1em ;
    
}

.search-bar-container
{
    background-color: #333333;
}

#search-box
{
    border-left-color: #1c1c1c;
    border-color: white ;
}

.show-search-container
{
    
}

.filter-panel
{
    position: fixed;
    bottom: 0;
    color: white ;
    width: 100% ;
    background-color: #333333;
}

/* Index */

.splash-nav
{
    width: 100%;
    height: auto ;
    background-color: transparent;
    //background-color: rgba(28,28,28,0.7) ;
    border-bottom: 0.2em solid #ffcb00 ;
    position: fixed;
    top: 0;
    color: white ;
    z-index: 10 ;
    line-height: 3em ;
}

.splash
{
    position: relative;
    display: inline ;
    height: 100vh;
    width: 100% ;
    background-color: #1c1c1c ;
}

.splash-mobile
{
    position: relative;
    display: inline ;
    height: 200% ;
    width: 100% ;
    background-color: #1c1c1c ;
}

#splash-img
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100% ;
    opacity: 0.5 ;
}

#splash-img-mobile
{
    position: absolute;
    top: 35% ;
    right: 0;
    height: auto;
    width: 100% ;
    opacity: 0.5 ;
}

#splash-img-mobile-back
{
    position: relative;
    left: -75%;
    height: 100% ;
    width: auto ;
    opacity: 0.5 ;
}



/* Icons CSS */

.fa {

}

.fa-trash {
    color: red ; /* Replace with desired color */
}
.fa-trash:hover {
    color: red ; /* Replace with desired color */
}

.fa-pencil {
    color: #333333 ; /* Replace with desired color */
}
.fa-pencil:hover {
    color: #1c1c1c ; /* Replace with desired color */
}

.fa-search-plus {
    color: #333333 ; /* Replace with desired color */
}
.fa-search-plus:hover {
    color: #1c1c1c ; /* Replace with desired color */
}

.fa-arrow-left {
    color: #333333 ; /* Replace with desired color */
}
.fa-arrow-left:hover {
    color: #1c1c1c ; /* Replace with desired color */
}

.fa-check {
    color: #333333 ; /* Replace with desired color */
}
.fa-check:hover {
    color: #1c1c1c ; /* Replace with desired color */
}

.img-product
{
    width: auto;
    max-width: 100%;
    height: auto ;
    max-height: 50vh ;
}

.img-splash
{
    width: auto;
    height: 100% ;
    z-index: 50 ;
}

.btn-filter
{
    background-color: white ;
}
.btn-filter[aria-expanded="true"]
{
    background-color: #eceeef
    /* border: 0.15em solid #cca300; */
}

.py-0_5
{
    padding-top: 0.4em;
    padding-bottom: 0.4em ;
}

.my-0_5
{
    margin-top: 0.4em;
    margin-bottom: 0.4em ;   
}

.mb-0_5
{
    margin-bottom: 0.4em ;   
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: rgba(28,28,28,0.7) ;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffcb00 ;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #1c1c1c ;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}