<!-- Main Admin Page. The main variable receives the actual content the user wants, like adding a product -->

<template name="AdminPage">
	<header>
		<h1>AdminPage</h1>
		{{> loginButtons}}
	</header>
	<main>
		<div id="side menu">
			<a href="/admin/product/all">See All</a>
			<a href="/admin/product/add">Add Product</a>
		</div>
		{{> Template.dynamic template=main}}
	</main>
</template>


<!-- Splash Screen Template for the Admin Page -->
<template name="AdminHome">
	<h1>Tudo Puta</h1>
</template>