<!-- Main Admin Page. The main variable receives the actual content the user wants, like adding a product -->

<!-- Splash Screen Template for the Admin Page -->
<template name="AdminSplash">
	<div class="row is-flex hidden-md-down">
		<div class="col-lg-2 navmenu no-padding">
			<div class="container-fluid no-padding no-margin">
				{{> Navbar}}
			</div>
		</div>
		<div class="col-lg-10 no-padding">
			<div class="container-fluid no-padding">
				{{> Template.dynamic template=main}}
			</div>
		</div>
	</div>
	<div class="hidden-lg-up">
		<div class="row no-margin"> 
			<div class="container-fluid no-padding">
				{{> NavbarMobile}}
			</div>
		</div>
		<div class="row no-margin"> 
			<div class="container-fluid no-padding">
				{{> Template.dynamic template=main}}
			</div>
		</div>
	</div>
</template>

<template name="Navbar">
  	<ul class="sideNav no-padding"> 
    	<li class="sideNav-item">
    		<a href="/index">
				<img src="/facsCropped.png" width="75" height="auto" alt="">
			</a>
    	</li>
    	<li class="sideNav-item">
    		<p class="no-margin">{{> loginButtons}}</p>
    	</li>
		<a href="/admin/">
			<li id="navbarOp0" class="sideNav-item active">
				<i class="fa fa-home fa-2x fa-fw"></i>
				<p class="no-margin">Admin Panel</p>
			</li>
		</a>
    	<a href="/admin/product/all">
    		<li id="navbarOp1" class="sideNav-item active">
    			<i class="fa fa-th-list fa-2x fa-fw"></i>
    			<p class="no-margin">See All Products</p>
    		</li>
    	</a>
    	<a href="/admin/product/add">
    		<li id="navbarOp2" class="sideNav-item">
    			<i class="fa fa-plus-square-o fa-2x fa-fw"></i>
    			<p class="no-margin">Add Product</p>
    		</li>
    	</a>
    	<!--<li id="navbarOp3" class="sideNav-item">
    		<i class="fa fa-camera-retro fa-2x fa-fw"></i>
    		<p class="no-margin">Bananas</p>
    	</li>-->
  	</ul>
</template>

<template name="NavbarMobile">
	<nav class="navbar navbar-dark bg-inverse ">
	  	<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
	  	<div class="collapse navbar-toggleable-md" id="navbarResponsive">
	    	<a href="/admin">
				<img src="/facsCropped.png" width="75" height="auto" alt="">
			</a>
	    	<hr>
	    	<ul class="nav navbar-nav">
	    		<table>
	    			<tbody>
	    				<tr class="nav-item">
	    					<a class="nav-link" href="/admin/">
	    						<th class="col-md-1">
	    							<i class="fa fa-home fa-fw" style="color:white;"></i>
	    						</th>
	    						<td class="col-md-11">
	    							<p class="no-line">Admin Panel</p>
    							</td>
	    					</a>
	    				</tr>
	    				<tr class="nav-item col-md-2">
	    					<a class="nav-link" href="/admin/product/all">
	    						<th class="col-md-1">
	    							<i class="fa fa-th-list fa-fw" style="color:white;"></i>
    							</th>
	    						<td class="col-md-11">
	    							<p class="no-line">See All Products</p>
	    						</td>
	    					</a>
	    				</tr>
	    				<tr class="nav-item col-md-2">
	    					<a class="nav-link" href="/admin/product/add">
	    						<th class="col-md-1">
	    							<i class="fa fa-plus-square-o fa-fw" style="color:white;"></i>
    							</th>
	    						<td class="col-md-11">
	    							<p class="no-line">Add Product</p>
    							</td>
	    					</a>
	    				</tr>
	    			</tbody>
	    		</table>
	    		<!--
	      		<li class="nav-item">
	        		<a class="nav-link" href="/admin/">
	        			<i class="fa fa-home" style="color:white;"></i>
	        			<p class="no-line"> : Admin Panel </p>
	        		</a>
	      		</li>
	      		<li class="nav-item">
	      			<a class="nav-link" href="/admin/product/all">
	      				<i class="fa fa-th-list" style="color:white;"></i>
        				<p class="no-line"> : See All Products </p>
        			</a>
	      		</li>
	      		<li class="nav-item">
	      			<a class="nav-link" href="/admin/product/add">
	        			<i class="fa fa-plus-square-o" style="color:white;"></i>
	        			<p class="no-line"> : Add Product</p>
	        		</a>
	      		</li>-->
	      		<hr>
	      		<li class="nav-item">
	        		{{> loginButtons}}
	      		</li>
	    	</ul>
	  	</div>
	</nav>
</template>

<template name="AdminHome">
  <p> Bem-vindo </p>
</template>

