<head>

	<link rel="stylesheet" type="text/css" href="extras.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>

	<meta charset="UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width,initial-scale=1"> 
	<meta name="fragment" content="!"> 

	<title>FACS Watches</title> 
	<meta name="Description" content="Para quem vê na procura pela excelência um extraordinário modo de vida."> 
	<meta name="Keywords" content="relogios watches classicos usados relojoaria"> 

	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

</head>