<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    {{#with justUploaded}}
      <p>something</p>
    {{else}}
      <input id="fileInput" data-files-collection-upload class="form-control af-file-upload-capture" type="file" />
    {{/with}}
  {{/with}}
</template>

<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
    <ul>
      {{#each file in uploadedFiles.each}}
        <li>
          <a href="{{file.link}}?download=true" download="{{file.name}}">{{file.name}}</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>No files uploaded, yet</div>
  {{/if}}
</template>