<template name="index">
	
	<div class="hidden-lg-up">
		{{> IndexNavbarMobile}}
	</div>

	<div class="hidden-md-down">
		{{> IndexNavbar}}
	</div>

	<div class="row no-margin" style="overflow: hidden" >
		<div class="col-md-12 col-xs-12 splash p-0 background-screen" id="back0" >
			<img class="hidden-md-down" src="facs.png" id="splash-img" style="opacity: 1"/>
			<img class="hidden-lg-up" src="facsCropped.png" id="splash-img-mobile" style="opacity: 1"/>
		</div>

	</div>

	<div class="row m-1 p-1 text-md-center text-xs-center">
		<h1>Spotlight</h1>
		<div class="col-md-10 offset-md-1 px-0 py-1">
			{{#each spotlight}}
				<div class="col-md-4 col-xs-12">
					<div class="card">
						{{#with p=this._id}}
	    					<img class="card-img-top condensed-img p-1" src="{{productImage.link}}" alt="Card image cap">
	  					{{/with}}
	  					<hr>
						<div class="card-block pt-0">
							<h4 class="card-title">{{name}}</h4>
							<p class="card-subtitle">{{brand}}</p>
						</div>
						<div class="card-footer hvr-fade">
							<p onclick="window.location='http://google.com'" class="my-0">See more of this product<i class="fa fa-chevron-right fa-fw ml-1" aria-hidden="true"></i></p>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="row m-1 mt-3 p-1 text-md-center text-xs-center">
		<h4>About us</h4>
		<div class="col-md-10 offset-md-1 col-xs-12 text-justify pt-1">
			<p>Bacon ipsum dolor amet burgdoggen frankfurter tri-tip, short loin drumstick strip steak filet mignon pork chop beef ribs andouille alcatra salami sirloin biltong. Chicken flank frankfurter pastrami. Tongue pig chicken leberkas shoulder filet mignon pancetta pastrami burgdoggen doner. Shank strip steak beef kielbasa tri-tip swine sausage. Flank pork loin beef ribs, tongue prosciutto alcatra pork belly kielbasa. Flank ham hock filet mignon bresaola pancetta cow pork.</p>
		</div>
	</div>

	<div class="row mx-0 my-1 mt-3 py-3 text-md-center text-xs-center background-screen" id="back2" style="color: white">
		<h4>Our Brands</h4>
		<div class="col-md-10 offset-md-1 col-xs-12 pt-1">
			{{#each brands}}
				<div class="col-md-3 col-xs-6">
					<p>{{this}}</p>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="row m-1 mt-3 p-1 text-md-center text-xs-center">
		<h4>Our store</h4>
		<div class="col-md-5 offset-md-1 col-xs-12 text-justify pt-1">
			<p>Bacon ipsum dolor amet burgdoggen frankfurter tri-tip, short loin drumstick strip steak filet mignon pork chop beef ribs andouille alcatra salami sirloin biltong. Chicken flank frankfurter pastrami. Tongue pig chicken leberkas shoulder filet mignon pancetta pastrami burgdoggen doner. Shank strip steak beef kielbasa tri-tip swine sausage. Flank pork loin beef ribs, tongue prosciutto alcatra pork belly kielbasa. Flank ham hock filet mignon bresaola pancetta cow pork.</p>
		</div>
		<div class="col-md-5 col-xs-12 pt-1">
			<img src="/back3.jpg" class="img-fluid rounded" style="vertical-align: middle;" />
		</div>
	</div>

	<div class="row m-1 mt-3 p-1 text-md-center text-xs-center">
		<h4>Our services</h4>
		<div class="col-md-3 offset-md-1 col-xs-12 pt-1 pr-2">
			<i class="fa fa-wrench fa-3x mb-2" aria-hidden="true"></i>
			<p class="m-0"><strong>Bacon</strong></p>
			<p class="text-justify">Bacon ipsum dolor amet burgdoggen frankfurter tri-tip, short loin drumstick strip steak filet.</p>
		</div>
		<div class="col-md-4 col-xs-12 pt-1 px-2">
			<i class="fa fa-diamond fa-3x mb-2" aria-hidden="true"></i>
			<p class="m-0"><strong>Bacon</strong></p>
			<p class="text-justify">Bacon ipsum dolor amet burgdoggen frankfurter tri-tip, short loin drumstick strip steak filet.</p>
		</div>
		<div class="col-md-3 col-xs-12 pt-1 pl-2">
			<i class="fa fa-question fa-3x mb-2" aria-hidden="true"></i>
			<p class="m-0"><strong>Bacon</strong></p>
			<p class="text-justify">Bacon ipsum dolor amet burgdoggen frankfurter tri-tip, short loin drumstick strip steak filet.</p>
		</div>
	</div>

	<div class="row m-1 mt-3 p-1 text-md-center text-xs-center">
		<div class="col-md-5 offset-md-1 col-xs-12 pt-1">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12448.749105061224!2d-9.30629315!3d38.7364645!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92000ad2cef547fa!2sTaguspark%2C+SA!5e0!3m2!1sen!2spt!4v1484772437891" style="pointer-events: none;"></iframe> <!-- Must be used proper Google Maps API when deployed -->
			</div>
		</div>
		<div class="col-md-5 col-xs-12 pt-1 text-md-left">			

			<ul style="list-style-type: none;">
				<h4>Come visit us</h4>
				<hr>
				<li class="my-1">
					<i class="fa fa-phone fa-2x fa-fw mr-1" aria-hidden="true" style="vertical-align: middle;"></i>
					<span>+351 123 456 789</span>
				</li>
				<li class="my-1">
					<i class="fa fa-mobile fa-2x fa-fw mr-1" aria-hidden="true" style="vertical-align: middle;"></i>
					<span> +351 123 456 789</span>
				</li>
				<li class="my-1">
					<i class="fa fa-map-marker fa-2x fa-fw mr-1" aria-hidden="true" style="vertical-align: middle;"></i>
					<span>Av. Lorem Ipsum, nº 123 </span>
				</li>
				<li class="my-1">
					<i class="fa fa-envelope-o fa-2x fa-fw mr-1" aria-hidden="true" style="vertical-align: middle;"></i>
					<span>info@facswatches.pt</span>
				</li>
			</ul>
		</div>
	</div>

	<!--<div class="row mx-0 mt-3 p-1 text-md-center text-xs-center background-screen" id="back4">
		<p>Footer</p>
	</div>-->



	<!--

	<div class="row no-margin">
		<div class="col-md-12 col-xs-12 splash" style="background-color: red">
			<p>grvf</p>
		</div>
	</div>

	<div class="row m-0">
		<div class="col-md-12 col-xs-12 py-3 background-screen text-md-center text-xs-center" id="back2">

			<h1 style="color:white">OUR BRANDS</h1>

			<div class="row py-1">
				<div class="col-md-6">
					<p style="color:white; font-size: 2em">1</p>
					<p style="color:white; font-size: 2em">1</p>
					<p style="color:white; font-size: 2em">1</p>
					<p style="color:white; font-size: 2em">1</p>
				</div>

				<div class="col-md-6">
					<p style="color:white; font-size: 2em">2</p>
					<p style="color:white; font-size: 2em">2</p>
					<p style="color:white; font-size: 2em">2</p>
					<p style="color:white; font-size: 2em">2</p>
				</div>
			</div>
			
		</div>
	</div>

	<div class="row m-0 text-md-center text-xs-center">
		<div class="col-md-6 col-xs-6 py-3 background-screen " id="back3">
			<p style="color:white; font-size: 2em">2</p>
			<p style="color:white; font-size: 2em">2</p>
			<p style="color:white; font-size: 2em">2</p>
			<p style="color:white; font-size: 2em">2</p>
			<p style="color:white; font-size: 2em">2</p>
			<p style="color:white; font-size: 2em">2</p>
		</div>
		<div class="col-md-6 col-xs-6 p-0">
			<div class="embed-responsive embed-responsive-4by3 maps">
    			<iframe class="embed-responsive-item" style="position:absolute;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12448.749105061224!2d-9.30629315!3d38.7364645!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92000ad2cef547fa!2sTaguspark%2C+SA!5e0!3m2!1sen!2spt!4v1484710434063" ></iframe>
			</div>
		</div>
	</div> -->

</template>



<template name="IndexNavbar">
	<div class="row no-margin splash-nav">
		<table class="table text-md-center mb-0">
			<tr>
				<td class="col-md-3" style="background: rgba(28,28,28,0.7) ;">
					<a class="" href="#">
	    				<img src="facsCropped.png" width="75" height="auto" style="margin: 0px 0px 0px 20px" alt="">
  					</a>
				</td>
				<td class="col-md-3 hvr-shutter-out-horizontal">
					<i class="fa fa-search fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i>
					<span>Search</span>
				</td>
				<td class="col-md-3 hvr-shutter-out-horizontal">
					<i class="fa fa-map-marker fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i>
					<span>Store</span>
				</td>
				<td class="col-md-3 hvr-shutter-out-horizontal">
					<i class="fa fa-phone fa-2x fa-fw" aria-hidden="true" style="vertical-align: middle;"></i>
					<span>Contacts</span>
				</td>
			</tr>

		</table>
	</div>
</template>



<template name="IndexNavbarMobile">

	<nav class="navbar navbar-dark navbar-fixed-top bg-inverse ">
	  	<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
	  	<div class="collapse navbar-toggleable-md" id="navbarResponsive">
	    	<a class="navbar-brand" href="#">
	    		<img class="center-block" src="facsCropped.png" width="75" height="auto" alt="">
	    	</a>
	    	<hr>
	    	<div class="row text-xs-center">
	    		<a class="nav-link" href="#" style="color:white">
					<i class="fa fa-search fa-fw" style="color:white;"></i>
					<p class="no-line ">Search</p>
				</a>
	    	</div>
	    	<div class="row text-xs-center my-1">
	    		<a class="nav-link" href="#" style="color:white">
					<i class="fa fa-map-marker fa-fw" style="color:white;"></i>
					<p class="no-line">Store</p>
				</a>
	    	</div>
	    	<div class="row text-xs-center">
	    		<a class="nav-link" href="#" style="color:white">
					<i class="fa fa-phone fa-fw" style="color:white;"></i>
					<p class="no-line ">Contacts</p>
				</a>
	    	</div>
	    	<hr>
	  	</div>
	</nav>
	
</template>