<template name="productSearch">

	<div id="productSearchTop">
	</div>

	{{> Navbars}}

	<div class="row m-0 p-3 text-md-center text-xs-center background-screen" id="back4">
		<div style="height: 5em"></div>
		<div class="col-md-12 col-xs-12 m-0 input-group">
			<div class="input-group-addon">
	      		<span><i class="fa fa-search" aria-hidden="true"></i></span>
	    	</div>
			<input type="text" class="form-control" id="search-box" placeholder="Search Products" />
		</div>
	</div>

	<!-- Desktop -->
	<div class="row mx-0 text-md-center text-xs-center hidden-md-down" style="background-color: #1c1c1c; color:white" >
		<div class="col-md-2 offset-md-1 p-1">
			<span>{{_ "search-filterby"}}</span>
		</div>
		<div class="col-md-2 p-1 hvr-shutter-out-horizontal jq-searchbar" id="showBrandFilter">
			<span>{{_ "search-brand"}}</span>
		</div>
		<div class="col-md-2 p-1 hvr-shutter-out-horizontal jq-searchbar" id="showTypeFilter">
			<span>{{_ "search-type"}}</span>
		</div>
		<div class="col-md-2 p-1 hvr-shutter-out-horizontal jq-searchbar" id="showSeasonFilter">
			<span>{{_ "search-season"}}</span>
		</div>
	</div>

	<!-- Mobile -->
	<div class="row mx-0 py-1 text-xs-center hidden-lg-up" style="background-color: #1c1c1c; color:white" >
		<div class="col-xs-12 px-0 pb-1">
			<span>{{_ "search-filterby"}}</span>
		</div>
		<div class="col-xs-6 px-0" id="showBrandFilter">
			<span>{{_ "search-brand"}}</span>
		</div>
		<div class="col-xs-6 px-0" id="showTypeFilter">
			<span>{{_ "search-type"}}</span>
		</div>
		<div class="col-xs-6 px-0" id="showSeasonFilter">
			<span>{{_ "search-season"}}</span>
		</div>
	</div>

	<div class="row mx-0" style="background-color: #2b2b2b; color:white; ">
		<div class="col-md-10 offset-md-1 py-1">
			{{> Template.dynamic template=main}}
		</div>
	</div>


	<div class="row my-1 mx-0 text-md-center text-xs-center">
		<div class="col-12 col-md-10 offset-md-1 px-0">
			{{#if isLoading}}
				<div class="col-md-12 col-xs-12" style="min-height: 100vh">
					<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw py-3 mx-auto d-block"></i>
					<span class="sr-only">{{_ "loading"}}</span>
				</div>
			{{else}}

			<!-- Desktop -->
			<div class="row m-0 hidden-md-down">
				{{#each products}}
					<div class="col-md-6">
						{{#with p=this._id}}
							<div class="img-showmore my-1">
    							<img class="img-fluid p-0" src="{{productImage}}" style="width:auto; height:50vh">
    							<a href="/product/{{p}}"><span class="fa fa-search-plus fa-5x img-showicon"></span></a>
    						</div>
	  					{{/with}}
	  					<h4>{{name}}</h4>
	  					{{#if this.special}}
							<p>{{brand}} : {{_ "search-personalproject"}}</p>
						{{else}}
							<p>{{brand}}</p>
						{{/if}}
	  					<hr>
					</div>
				{{/each}}
			</div>

			<!-- Mobile -->
			{{#each products}}
				<div class="row is-flex-mobile px-1 py-0 hidden-lg-up my-0 mx-0">
					<div class="col-xs-4">
						{{#with p=this._id}}
	    					<img class="img-fluid" src="{{productImage}}">
	  					{{/with}}
					</div>
					<div class="col-xs-7">
						<span>{{name}}</span>
						<br>
						<span>{{brand}}</span>
					</div>
					<div class="col-xs-1" >
						<a href="/product/{{_id}}">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<hr class="hidden-lg-up">
			{{/each}}
				
			{{/if}}
		</div>
	</div>


</template>


<template name="filterBrand">
	<div class="row">
		{{#each brands}}
			<div class="col-md-3 text-md-left col-xs-6 text-xs-left">
				<label class="form-check form-check-inline no-margin my-0">
						<input class="form-check-input mx-0 brandFilter" type="checkbox" id="f-{{this}}"> {{this}}
				</label>
			</div>
		{{/each}}
	</div>
</template>				

<template name="filterType">
	<div class="row">
		{{#each types}}
			<div class="col-md-3 text-md-left col-xs-6 text-xs-left">
				<label class="form-check form-check-inline no-margin my-0">
						<input class="form-check-input mx-0 typeFilter" type="checkbox" id="f-{{this}}"> {{this}}
				</label>
			</div>
		{{/each}}
	</div>
</template>

<template name="filterSeason">
	<div class="row">
		{{#each seasons}}
			<div class="col-md-3 text-md-left col-xs-6 text-xs-left">
				<label class="form-check form-check-inline no-margin my-0">
						<input class="form-check-input mx-0 seasonFilter" type="checkbox" id="f-{{this}}"> {{this}}
				</label>
			</div>
		{{/each}}
	</div>
</template>