<template name="productSearch">

	<div id="productSearchTop">
	</div>

	{{> Navbars}}

	<div class="row m-0 p-3 text-md-center text-xs-center background-screen" id="back4">
		<hr>
		<hr>
		<hr>
		<hr>
		<div class="col-md-12 col-xs-12 m-0 input-group">
			<div class="input-group-addon">
	      		<span><i class="fa fa-search" aria-hidden="true"></i></span>
	    	</div>
			<input type="text" class="form-control" id="search-box" placeholder="Search Products" />
		</div>
	</div>

	<!-- Desktop -->
	<div class="row mx-0 text-md-center text-xs-center hidden-md-down" style="background-color: #1c1c1c; color:white" >
		<div class="col-md-2 offset-md-1 p-1">
			<span>Filter by:</span>
		</div>
		<div class="col-md-2 p-1 hvr-shutter-out-horizontal jq-searchbar" id="showBrandFilter">
			<span>Marca</span>
		</div>
		<div class="col-md-2 p-1 hvr-shutter-out-horizontal jq-searchbar" id="showTypeFilter">
			<span>Tipo</span>
		</div>
		<div class="col-md-2 p-1 hvr-shutter-out-horizontal jq-searchbar" id="showSeasonFilter">
			<span>Época</span>
		</div>
	</div>

	<!-- Mobile -->
	<div class="row mx-0 py-1 text-xs-center hidden-lg-up" style="background-color: #1c1c1c; color:white" >
		<div class="col-xs-12 px-0 pb-1">
			<span>Filter by:</span>
		</div>
		<div class="col-xs-6 px-0" id="showBrandFilter">
			<span>Marca</span>
		</div>
		<div class="col-xs-6 px-0" id="showTypeFilter">
			<span>Tipo</span>
		</div>
		<div class="col-xs-6 px-0" id="showSeasonFilter">
			<span>Época</span>
		</div>
	</div>

	<div class="row mx-0" style="background-color: #2b2b2b; color:white; ">
		<div class="col-md-10 offset-md-1 py-1">
			{{> Template.dynamic template=main}}
		</div>
	</div>


	<div class="row m-1 text-md-center text-xs-center">
		<div class="col-md-10 offset-md-1 px-0">
			{{#if isLoading}}
				<div class="col-md-12 col-xs-12" style="min-height: 100vh">
					<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw py-3 mx-auto d-block"></i>
					<span class="sr-only">Loading...</span>
				</div>
			{{else}}
				<div class="col-md-12 col-xs-12" style="min-height: 100vh">
					{{#each products}}
						<!-- Desktop -->
						<div class="col-md-4 hidden-md-down py-3">
							<div class="card">
								{{#with p=this._id}}
			    					<img class="card-img-top condensed-img p-1" src="{{productImage}}" alt="Card image cap">
			  					{{/with}}
			  					<hr>
								<div class="card-block pt-0">
									<h4 class="card-title">{{name}}</h4>
									<p class="card-subtitle">{{brand}}</p>
									{{#if this.special}}
										<p class="card-text">(Projeto Pessoal)</p>
									{{/if}}
								</div>
								<div class="card-footer hvr-fade">
									<a href="/product/{{_id}}">
										<p class="my-0">See more of this product
											<i class="fa fa-chevron-right fa-fw ml-1" aria-hidden="true"></i>
										</p>
									</a>
								</div>
							</div>
						</div>

						<!-- Mobile -->
						<div class="row is-flex-mobile px-0 py-0 hidden-lg-up my-0" style="border-top: 1px solid #1c1c1c">
							<div class="col-xs-3">
								{{#with p=this._id}}
			    					<img class="img-thumbnail" src="{{productImage}}" alt="Card image cap">
			  					{{/with}}
							</div>
							<div class="col-xs-7">
								<span>{{name}}</span>
								<br>
								<span>{{brand}}</span>
							</div>
							<div class="col-xs-2" >
								<a href="/product/{{_id}}">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>


</template>


<template name="filterBrand">
	<div class="row">
		{{#each brands}}
			<div class="col-md-3 text-md-left col-xs-6 text-xs-left">
				<label class="form-check form-check-inline no-margin my-0">
						<input class="form-check-input mx-0 brandFilter" type="checkbox" id="f-{{this}}"> {{this}}
				</label>
			</div>
		{{/each}}
	</div>
</template>				

<template name="filterType">
	<div class="row">
		{{#each types}}
			<div class="col-md-3 text-md-left col-xs-6 text-xs-left">
				<label class="form-check form-check-inline no-margin my-0">
						<input class="form-check-input mx-0 typeFilter" type="checkbox" id="f-{{this}}"> {{this}}
				</label>
			</div>
		{{/each}}
	</div>
</template>

<template name="filterSeason">
	<div class="row">
		{{#each seasons}}
			<div class="col-md-3 text-md-left col-xs-6 text-xs-left">
				<label class="form-check form-check-inline no-margin my-0">
						<input class="form-check-input mx-0 seasonFilter" type="checkbox" id="f-{{this}}"> {{this}}
				</label>
			</div>
		{{/each}}
	</div>
</template>