<template name="searchTest">
	<input type="text" name="search" class="form-control" width="250px" placeholder="Search something">

	<ul class="list-group">
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{#each products}}
        <li class="list-group-item clearfix">
          <span class="pull-left">{{name}}</span>
          <span class="pull-right">{{brand}}</span>
        </li>
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}. Sorry, bub.</p>
      {{/each}}
    {{/if}}
  </ul>
</template>