<template name="singleProduct">

	{{> Navbars}}

	<div class="row m-0 p-3 background-screen" id="back4">
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
	</div>

	<div class="row mx-0 my-1">
		<div class="col-md-10 offset-md-1 col-xs-12 p-1">
			{{#if Template.subscriptionsReady }}

				<div class="col-md-12 col-xs-12 text-xs-center text-md-left ">
					<h1>{{singleProduct.name}}</h1>
					<h4>{{singleProduct.brand}}</h4>
				</div>

				<!-- Desktop -->
				<div class="col-md-6 hidden-md-down">
					<p>{{singleProduct.desc}}</p>
					<hr>
					<p>Type: {{singleProduct.type}}</p>
					<p>Decade: {{singleProduct.decade}}</p>
				</div>

				<!-- Both -->
				<div class="col-md-6 col-xs-12">
					<img class="img-product rounded my-2 mx-auto d-block" src="{{productImage.link}}" />
				</div>

				<!--Mobile -->
				<div class="col-xs-10 col-xs-12 hidden-lg-up">
					<p>{{singleProduct.desc}}</p>
					<p>Type: {{singleProduct.type}}</p>
					<p>Decade: {{singleProduct.decade}}</p>
				</div>


				<!--<div class="row px-1">
						<div class="col-md-6">
							<h1 class="my-1">{{singleProduct.name}}</h1>
							<h4>{{singleProduct.brand}}</h4>
							<hr>
							<p>{{singleProduct.desc}}</p>
							<hr>
							<div class="row">

							</div>
							<p class="my-0">Type: {{singleProduct.type}}</p>
							<p class="my-0">Decade: {{singleProduct.decade}}</p>
						</div>
						<div class="col-md-6">
							<img class="img-product rounded my-2 mx-auto d-block" src="{{productImage.link}}" />
						</div>
					</div>-->

			{{else}}
				<p>Loading</p>
			{{/if}}


		</div>
	</div>

</template>